<?xml version="1.0" encoding="utf-8"?>
<launch>
  <!-- Console launch prefix -->
  <arg name="launch_prefix" default=""/>
  
  <!-- Model folder -->
  <arg name="yolo_model_folder" default="$(find robot_vision_openvino)/models/yolov3"/>

  <!-- Load ROS parameters -->
  <rosparam file="$(find robot_vision_openvino)/config/ros.yaml" command="load" ns="yolo_ros" />
  <rosparam file="$(find robot_vision_openvino)/config/yolov3.yaml" command="load" ns="yolo_ros" />

  <!-- Start USB camera node -->
  <node name="usb_cam" pkg="usb_cam" type="usb_cam_node" output="screen" respawn="true">
    <param name="video_device" value="/dev/video0" />
    <param name="image_width" value="640" />
    <param name="image_height" value="480" />
    <param name="pixel_format" value="yuyv" />
    <param name="camera_frame_id" value="usb_cam" />
  </node>

  <!-- Start OpenVINO YOLO node in a new xterm terminal -->
  <node name="yolo_ros" pkg="robot_vision_openvino" type="yolo_ros" output="screen" launch-prefix="xterm -e" args="$(arg launch_prefix)">
    <param name="yolo_model/folder" value="$(arg yolo_model_folder)" />
  </node>

  <!-- Start image viewer node in a new xterm terminal -->
  <!-- <node name="image_viewer" pkg="shopping_cart_assistant" type="image_viewer.py" args="$(arg launch_prefix)" /> -->
  <node name="image_viewer" pkg="shopping_cart_assistant" type="image_viewer.py" output="screen" launch-prefix="xterm -e" args="$(arg launch_prefix)" />

  
  <!-- Start speech recognition node in a new xterm terminal -->
  <node name="cart_assistant_sr" pkg="shopping_cart_assistant" type="cart_assistant_sr.py" output="screen" launch-prefix="xterm -e" args="$(arg launch_prefix)" />

  <!-- Start text-to-speech (TTS) node in a new xterm terminal -->
  <node name="tts_node" pkg="shopping_cart_assistant" type="cart_assistant_tts.py" output="screen" launch-prefix="xterm -e" args="$(arg launch_prefix)" />
</launch>
